.item-comment-hidden{
    /*display: none;*/
}
.rating-wrap-hidden{
    display: none;
}





@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/open_sansregular-webfont.eot');
    src: url('../fonts/open_sansregular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sansregular-webfont.woff2') format('woff2'),
    url('../fonts/open_sansregular-webfont.woff') format('woff'),
    url('../fonts/open_sansregular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/open_sansbold.eot');
    src: url('../fonts/open_sansbold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sansbold.woff2') format('woff2'),
    url('../fonts/open_sansbold.woff') format('woff'),
    url('../fonts/open_sansbold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/open_sanssemibold.eot');
    src: url('../fonts/open_sanssemibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/open_sanssemibold.woff2') format('woff2'),
    url('../fonts/open_sanssemibold.woff') format('woff'),
    url('../fonts/open_sanssemibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 26px;
    background-color: #1d1f20;
    margin: 0;
}


@media only screen and (max-width: 480px) {
    .grid-container {
        column-count: 1;
    }
}
@media only screen and (min-width: 481px) and (max-width: 620px) {
    .grid-container {
        column-count: 2;
    }
}
@media only screen and (min-width: 621px) and (max-width: 1023px) {
    .grid-container {
        column-count: 3;
    }
}
@media only screen and (min-width: 1024px) {
    .grid-container {
        column-count: 4;
    }
}
.grid-container {
    display: block;
    column-gap: 16px;
    margin: 8px 16px;
}
img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item {
    background-color: #343436;
    margin: 8px 0;
    padding: 21px;
    display: inline-block;
    cursor: pointer;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content-wrapper{
    width: 1024px;
    height: 768px;
    background: #f0f3f6;
    margin:auto;
    overflow-y: hidden;
    overflow-x: auto;
    /*white-space: nowrap;*/
    padding: 0 20px;
    box-sizing: border-box;
}
.galery-wrapper{
    width: 984px;
    margin: 0 20px;
    box-sizing: border-box;
}
h1{
    margin: 25px 0 15px 0;
    font: 24px 'open_sansbold';
    color: #8499a7;
    text-transform: uppercase;
}
h1 span{
    color: #21b8c6;
}
.wrapper-add-image{
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 2px 10px 0 rgba(194, 205, 216, 0.004);
    width: 236px;
    height: 200px;
    display: flex;
}
input[type="file"] {
    display: none;
}
.custom-file-upload {
    display: block;
    cursor: pointer;
    border-radius: 50%;
    background: url("../images/icon-add.png") center/contain no-repeat;
    width: 54px;
    height: 54px;
    margin: auto;
}
.custom-file-upload span{
    display: block;
    font: 14px 'open_sanssemibold';
    color: #a0b0ba;
    line-height: 1.2;
    text-align: center;
}
.custom-file-upload span:first-of-type{
    margin-top: 60px;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-track{
    margin: 0 20px;
    background-color: #d1dae3;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: #21b8c6;
    border-radius: 10px;
}
/***********************************/
.popup-wrapper {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: url("../images/overlay.png") center/contain no-repeat;
}
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.popup-content{
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2px 10px 0 rgba(194, 205, 216, 0.004);
    margin: auto;
    width: 810px;
    height: 590px;
    position: relative;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}
.close {
    float: right;
    background: url("../images/close-icon.png") center/contain no-repeat;
    position: absolute;
    right: 11px;
    top: 11px;
    width: 20px;
    height: 20px;
}
.close:hover,
.close:focus {
    transform: scale(1.2);
    cursor: pointer;
}
.left-wrapper{
    background: #f4f5f4;
    width: 445px;
    height: 575px;
    position: relative;
    float: left;
}
.popup-image-block{
    width: 445px;
    height: 515px;
}
/***************************/
.rating-wrap{
    position: absolute;
    right: 5px;
    bottom: 0;
    width: 135px;
    height: 65px;
    background: pink;
}
.rating-image{
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 65px;
    height: 60px;
    cursor: pointer;
}
.dislike-image{
    background-image: url("../images/dislike-icon.png");
}
.dislike-image.active{
    margin-top: 5px;
    background-image: url("../images/dislike-active-icon.png");
}
.like-image{
    background: url("../images/like-icon.png");
}
.like-image.active{
    margin-top: 5px;
    background-image: url("../images/like-active-icon.png");
}
.rating-number {
    border: 2px solid #a0b0ba;
    border-radius: 50%;
    background-color: #ffffff;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 10px;
    left: 30px;
    font: 11px "Open Sans";
    color: #0d7f8a;
    text-align: center;
}

/***************************/
.comment-wrapper{
    box-sizing: border-box;
    margin-left: 445px;
    padding: 30px 15px 20px 25px;
}
.block-number-comments{
    font: 24px 'open_sanssemibold';
    color: #8499a7;
}
.item-comment-wrapper {
    height: 410px;
    border-bottom: 2px solid #d1dae3;
}
.item-comment-inner-wrapper{
    overflow-y: auto;
}
.item-comment{
    margin-bottom: 8px;
}
.authorOutput {
    display: inline-block;
    vertical-align: top;
    font: 11px 'open_sansregular';
    color: #95a7b3;
}
.date-output{
    float: right;
    display: inline-block;
    vertical-align: top;
    font: 11px 'open_sansregular';
    color: #95a7b3;
}
.message-output {
    border: 2px solid rgb(240, 243, 246);
    border-radius: 3px;
    font: 14px 'open_sansregular';
    color: #607583;
    text-align: left;
    padding: 15px 12px;
    margin-bottom: 8px;
}
.comment-create{
    padding: 0 5px;
}
.author-input{
    width: 285px;
    height: 30px;
    border: none;
    border-bottom: 2px solid #f0f3f6;
    font: 14px 'open_sansregular';
    outline: none;
    margin-bottom: 10px;
    text-align: center;
    box-sizing: border-box;
    color: #607583;
}
.message-textarea{
    display: inline-block;
    vertical-align: top;
    width: 235px;
    height: 50px;
    font: 14px 'open_sansregular';
    border-radius: 3px;
    border: 2px solid rgb(240, 243, 246);
    resize: none;
    padding: 10px;
    outline: none;
    box-sizing: border-box;
    color: #607583;
}
.send-comment{
    display: inline-block;
    vertical-align: top;
    margin-left: -6px;
    width: 50px;
    height: 50px;
    background: url("../images/send-icon.png") center/contain no-repeat;
    outline: none;
    padding: 0;
    border: none;
}




